# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
*.db
*.log
*.joblib
*.pkl

# Node
node_modules/
dist/
build/
.DS_Store

# IDEs
.vscode/
.idea/

# Hardware
*/__pycache__/
*.bak
*.backup
